.login{
    color: white;
  
    .container{
      padding: 60px 30px;
      background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 32px 0 rgba(135, 102, 31, 0.37);
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      width: min(340px, 90vw);
      height: 360px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
  
      .input-wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
      img{
        width: 100%;
        margin-bottom: 10px;
      }
      input{
        margin-top: 15px;
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 5px;
        font-size: .9rem;
      }
      p{
        color: rgb(255, 91, 91);
        // background-color: red;
        font-weight: 800;
        margin-top: 5px;
        // visibility: hidden;
      }
      button{
        border: none;
        width: 100%;
        padding: 10px;
        margin-top: 0px;
        border-radius: 5px;
        font-size: 1.1rem;
        color: white;
        cursor: pointer;
        background-image: linear-gradient(90deg, rgb(1,46,111), rgb(85, 201, 255));
        transition: all .6s ease, transform .3s ease;
        background-size: 150% auto;
        &:hover{
          background-position: right center;
          transform: scale(1.02);
        }
      }    
    }
  }